.container{
    display: flex;
    flex-wrap: wrap;
    width:1200px;
    margin: 0 auto;
    
}

.link{
    text-decoration: none;

}

@media (max-width:1200px) and (min-width:1050px){
    .container{
        width: 900px;
    }
}

@media (max-width:1050px) and (min-width:840px){
    .container{
        width: 800px;
    }
}

@media (max-width:840px){
    .container{
        width: 100%;
        justify-content: space-evenly;
    }
}
