.containerCard{
    width: 160px;
    height: 286px;
    margin: 20px 10px;
    padding: 10px 10px 20px 10px;
    background-color: #1D1D1D;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.containerMain{
    flex: 1 1 auto;
}
.containerCard:hover{
    opacity: 0.85;
}


.text{
    margin: 0;
}

.price{
    margin: 10px auto;
}

.btnGreen{
    width: 70%;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 165, 99);
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.btnRed{
    width: 70%;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.btn:hover{
    background-color: white;
    color: black;
    transition: all 0.4s ease-in;
    
}
@media (max-width:1200px) and (min-width:1050px){
    .containerCard{
        width: 140px;
    }
}

@media (max-width:1050px) and (min-width:1050px){
    .containerCard{
        width: 140px;
    }
}