.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.containerLogo{
    display: flex;
    justify-content: center;
}

.containerText{
    display: flex;
    justify-content: center;

}