.container{
    height: 255px;
    width: 100px;
    margin: 10px 10px;
    padding: 10px;
    background-color: #1D1D1D;
    color: white;
    border-radius: 10px;
    text-align: center;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

.img{
    width: 100px;
}

.text{
    margin: 0;
    font-size: 14px;
}

.price{
    margin: 10px auto;
}

.btn{
    background-color: brown;
    color: white;
    border: none;
    border-radius: 8px;
}
.containerTextandPrice{
    flex:1 1 auto;
}