.containerTitle{
    text-align: center;
}

.title{
    font-size: 30px;
    font-weight: 900;
}

.container{
    margin: 50px auto 50px;
    background-color: #1D1D1D;
    width: 1140px;
    height: fit-content;

    
}

.containerText{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.map{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    
}
.containerTextRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text{
    color: white;
}

.containerMapActive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    transition: all 0.4s ease-in-out;
    
}

.containerMapPassive{
    padding-bottom: 0px;
    transition: all 0.4 ease-in-out;
}

.passiveBtn{
    cursor: pointer;
    color: #1D1D1D;
    transition: all 0.4s ease-in-out;
}
.activeBtn{
    cursor: pointer;
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}


@media (max-width:1200px) and (min-width:1050px) {
    .container{
        width: 840px;
    }

    .containerText{
        width: 700px;
    }

    .map{
        width: 700px;
        height: 300px;
        margin: 20px auto;
        
    }
}

@media (max-width:1050px) and (min-width:840px) {
    .container{
        width: 780px;
    }
    .containerText{
        width: 740px;
    }

    .map{
        width: 740px;
        height: 210px;
        margin: 20px auto;
        
    }


}

@media (max-width:840px) {
    .container{
        width: 100%;

    }
    .containerText{
        width: 100%;
        justify-content: space-evenly;
        
    }

    .map{
        width:100%;
        height: 210px;
        
    }
    .text{
        color: white;
        font-size: 14px;

    }
}
