.containerTitle{
    text-align: center;
}

.title{
    font-size: 30px;
    font-weight: 900;
}

.container{
    margin: 50px auto 50px;
    background-color: #1D1D1D;
    width: 1140px;
    height: fit-content;

    
}

.containerText{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.map{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    
}
.containerTextRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text{
    color: white;
}

.containerMapActive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    transition: all 0.4s ease-in-out;
    
}

.containerMapPassive{
    padding-bottom: 0px;
    transition: all 0.4 ease-in-out;
}

.passiveBtn{
    color: #1D1D1D;
    transition: all 0.4s ease-in-out;
}
.activeBtn{
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}
