.mainContainer{
    width: 100%;
    background-color: #0F0F0F; 
}

.container{
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.containerLogo{
    color: white;
    
}

.Logo{
    margin: 0;
    font-size: 30px;
    font-family: 'Ysabeau SC', sans-serif;
    text-decoration: none;
    color: white;
}



.containerLinks .linkPassive{
    color:white;
    text-decoration: none;
    font-size: 25px;
    margin: 0 15px;
    border-radius: 17px;
    
}

.containerLinks .linkActive{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    margin: 0 15px;
    padding: 0 5px;
    background-color: white;
    border-radius: 17px;
    
    
    
}

.search{
    font-size: 20px;
}

.containerBasket{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.containerBasket:hover{
    margin-bottom: 4px;
    transition: all 0.2s ease-in-out;
   
}

.containerSidebar{
    display: none;
    
    
}
.containerBtn{
    display: none;
}
.containerSidebar{
    display: none;
}



/*////////////////////////////////////////////*/

@media (min-width:1200px){

    .container{
        width: 1200px;
        
    }

}

@media (max-width:1200px) and (min-width:1050px) {
    .container{
        width: 900px;
        height: 80px;
        justify-content: space-evenly;
    }
    
    .containerLinks{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        

    }

    .search{
        width: 200px;
    }



}

@media (max-width:1050px) and (min-width:840px) {
    .container{
        width: 800px;
        height: 80px;
        justify-content: space-between;
        
    }

    .containerLinks{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .search{
        width: 150px;
    }
}

@media (max-width:840px) {
    .container{
        width: 100%;
        
        justify-content: space-between;
    }

    .containerBtn{
        display: inline;
        margin-left: 20px;
        
    }

    .containerLinks{
        display: none;
    }

    .containerSearch{
        display: none;

    }

    .containerBasket{
        margin-right: 20px;
    }

    
}
