.container{
    width: 200px;
    height: 255px;
    background-color: #1D1D1D;
    color: white;
    margin: 50px 10px 10px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.img{
    width: 200px;
}

.text{
    text-align: center;
    margin: 0;
    padding: 10px;
}

.passiveBtn{
    transition: all 2s ease-in-out;
    display: none;
}

.activeBtn{
    padding-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
}

.btn{
    background-color: transparent;
    color: white;
    border: solid 2px white;
    cursor: pointer;
    
}

.container:hover{
    height: 300px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    opacity: 0.95;

}

@media (max-width:480px) {
    .container{
        width: 140px;
        height: 183px;
        display: flex;
        flex-direction: column;
    }
    .container:hover{
        height: 228px;
    }
    .img{
        width: 140px;
    }

    .text{
        font-size: 11px;
    }

    .activeBtn{
        padding-top: 10px;
        margin-bottom: 0px;
    }

}

@media (max-width:360px) {
    .container{
        width: 120px;
        height: 183px;
        display: flex;
        flex-direction: column;
    }
    .container:hover{
        height: 228px;
    }
    .img{
        width: 120px;
    }

    .text{
        font-size: 10px;
    }

    .activeBtn{
        padding-top: 10px;
        margin-bottom: 0px;
    }

}

@media (max-width:320px) {
    .container{
        width: 100px;
        height: 163px;
        display: flex;
        flex-direction: column;
    }
    .container:hover{
        height: 208px;
    }
    .img{
        width: 100px;
    }

    .text{
        font-size: 10px;
    }

    .activeBtn{
        padding-top: 10px;
        margin-bottom: 0px;
    }

}

@media (max-width:280px) {
    .container{
        width: 100px;
        height: 163px;
        display: flex;
        flex-direction: column;
    }
    .container:hover{
        height: 208px;
    }
    .img{
        width: 100px;
    }

    .text{
        font-size: 10px;
    }

    .activeBtn{
        padding-top: 10px;
        margin-bottom: 0px;
    }

}

@media (max-width:280px) {
    .container{
        width: 150px;
        height: 206px;
        display: flex;
        flex-direction: column;
    }
    .container:hover{
        height: 228px;
    }
    .img{
        width: 150px;
    }

    .text{
        font-size: 12px;
    }

    .activeBtn{
        padding-top: 10px;
        margin-bottom: 0px;
    }

}